body {
    background-color: aquamarine;
    background-image: url("gecko.png");
    background-repeat:;
    background-size: 45%;
}
h1{
    color: black;
    font-family: monospace, 'courier new', Times, serif;
    
}
.card{
    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
}
.card img{
    width: 100%;

}
